---
layout: default
permalink: /ttrpgs/
---

<section>
  <h1>ttrpgs</h1>

  <p>
    links to my various tabletop rpg related activities such as:
		<ul>
			<li>tabletop dev</li>
			<li>homebrewing</li>
			<li>worldbuilding</li>
			<li>very important Opinions on ttrpgs & dev & homebrewing & worldbuilding</li>
		</ul>
  </p>
</section>

<section>
  <h2>posts & links</h2>

{% include ttrpgs_directory.html %}

</section>

<section>

  <h2>cards</h2>

  <div class="grid t-hackcss-cards">

    {% for project in site.ttrpg_projects %}

    <div class="cell -6of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ project.name }}</header>
        <div class="card-content">
          <div class="inner">

            {% if project.image %}
            <img src="{{ project.image }}" class="t-hackcss-cards-image"
                 alt="{{ project.name }}"
                 title="{{ project.name }}" />
            {% endif %}

            <p class="t-hackcss-cards-text">{{ project.description }}</p>
            <p class="t-hackcss-cards-link">
              <a href="{{ project.link }}" title="{{ project.name }}" target="_blank">
                 {{ project.name }}
               </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
